<form role="form" ng-submit="vm.submit()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Add team</h3>
    </div>
    <div class="modal-body">
        <!-- text input -->
        <div class="form-group" ng-class="{'has-error': vm.error.fields.name}">
            <label><i class="fa fa-times-circle-o" ng-if="vm.error.fields.name"></i> Name</label>
            <input type="text" class="form-control" placeholder="Enter name ..." ng-model="vm.team.name"/>
            <span ng-repeat="error in vm.error.fields.name" class="help-inline error">{{ error }}</span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-warning" type="reset" ng-click="vm.reset()">Cancel</button>
    </div>
</form>
