<div class="wrapper">

	<!-- Header -->
	<patrol-header></patrol-header>

	<!-- Navigation -->
	<patrol-navigation projects="projects"></patrol-navigation>

	<!-- Right side column. Contains the navbar and content of the page -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Users
				<small>List</small>
			</h1>

			<ol class="breadcrumb">
				<li><a ui-sref="patrol.dashboard({reload:true})"><i class="fa fa-dashboard"></i> Home</a></li>
				<li class="active">Admin</li>
				<li class="active">Users</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">

			<h4 class="page-header">
				&nbsp;
				<button ng-click="vm.addUser()" class="btn btn-default pull-right" data-toggle="tooltip" title="Add User"><i class="fa fa-plus"></i> Add</button>
			</h4>

			<div class="row">
			    <div class="col-xs-12">
			        <div class="box box-primary">
<!-- 			            <div class="box-header">
			                <h3 class="box-title">Registered users</h3>
			            </div>
 -->			            <div class="box-body table-responsive no-padding">
			                <table class="table table-hover">
			                    <tr>
			                        <th>ID</th>
			                        <th>Username</th>
			                        <th>Name</th>
			       			        <th>Email</th>
			                        <th>Status</th>
			                    	<th>Superuser</th>
			                    	<th>Added</th>
			                    	<th>Last login</th>
			                    	<th></th>
			                    </tr>

			                    <tr ng-repeat="user in vm.users">
			                        <td>{{::user.id}}</td>
			                        <td>{{::user.username }}</td>
			                        <td>{{::user.name }}</td>
			                        <td>{{::user.email }}</td>
			                        <td><i class="fa" ng-class="{'fa-thumbs-o-down': !user.is_active, 'fa-thumbs-o-up': user.is_active}"></i></td>
			                        <td><i class="fa" ng-class="{'fa-thumbs-o-down': !user.is_superuser, 'fa-thumbs-o-up': user.is_superuser}"></i></td>
									<td>{{::user.date_added | date : format : timezone}}</td>
									<td>{{::user.last_login | date : format : timezone}}</td>
			                    	<td>
			                    		<div class="btn-group-vertical">
		                    				<button title="Detail" ui-sref="patrol.project.dashboard({project_id:project.id, reload:true})" class="btn btn-sm" ><i class="fa fa-search"></i></</button>
			                    		</div>
			                    	</td>
			                    </tr>

			                </table>
			            </div><!-- /.box-body -->

						<div class="box-footer clearfix" ng-show="vm.users.paging.count >= vm.users.paging.limit">
							<pagination total-items="vm.users.paging.count" ng-model="currentPage" ng-change="pageChanged()"></pagination>
						</div>

			        </div><!-- /.box -->
			    </div>
			</div>


		</section><!-- /.content -->
	</div><!-- /.content-wrapper -->

	<patrol-footer controller="PatrolController"></patrol-footer>

</div><!-- ./wrapper -->
